@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --mobile-screen: 375px;
    --tablet-screen: 768px;

    background-color: black;
  }

  html {
    @apply text-white;
  }
}
